---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
---

<Layout title="Classes">
	<span class="icon z-10 text-7xl font-normal absolute top-1 left-0">♟</span>
	<Section
		icon="♟"
		titleEsp="Clases de AOE 2"
		bodyEsp="Ofrezco clases diseñadas para todas las edades y niveles, desde principiantes hasta avanzados. Te invito a un emocionante viaje de desarrollo de habilidades, desatando tu potencial con una amplia gama de opciones adaptadas a cada grupo de edad y nivel. Ya sea que estés dando tus primeros pasos o buscando la maestría, encontrarás la clase perfecta para tus objetivos. Únete a mis clases y comienza la aventura del aprendizaje."
	/>
</Layout>
<style>
	.icon {
		opacity: 0.3;
		color: white;
		view-transition-name: rook;
	}
	@media (width < 950px) {
		.icon {
			display: none;
		}
	}
</style>
