---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import GalleryComponent from "../components/GalleryComponent/GalleryComponent.jsx";
---

<Layout title="Gallery">
	<span class="icon z-10 text-7xl font-normal absolute top-1 left-0">♖</span>

	<Section
		transition:persist
		titleEsp="Galeria de fotos"
		icon="♖"
		bodyEsp=""
	/>
	<GalleryComponent transition:persist client:visible />
</Layout>
<style>
	.icon {
		opacity: 0.3;
		color: white;
		view-transition-name: pawn;
	}
	@media (width < 950px) {
		.icon {
			display: none;
		}
	}
</style>
