---
import { Image } from "astro:assets";
import seba from "../img/sebastian2002-title.png";
---

<a href="/">
	<Image src={seba} alt="seba" class="seba" />
</a>

<style>
	.seba {
		width: 2px;
		z-index: -10;
		position: absolute;
		z-index: 1;
		bottom: 3rem;
		right: 3rem;
		transition: all 0.5s ease-in-out;
		view-transition-name: seba;
		filter: drop-shadow(0 0 0.05em #45d3e0) brightness(1.2);
	}

	.seba:hover {
		filter: drop-shadow(0 0 0.3em #45d3e0) brightness(1.5);
	}

	@media (width < 950px) {
		.seba {
			width: 250px;
			top: 0.5rem;
			right: 0.5rem;
		}
	}
</style>
